:root {
    --task-bg: rgba(155, 155, 155, .4);
}

.task-form, .task-list {
    background-color: var(--task-bg);
    border-radius: 1rem;
    padding: 1rem;
    overflow: scroll;
}

.task-form h1 {
    font-size: 1.7rem;
    margin: 0;
    color: white;
}

.task-form {
    grid-row: 2 / 5;
    grid-column: 2 / 12;
    margin-bottom: 15px;
}

#task-text-input {
    width: 100%;
    padding-top: .5rem;
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0 0 3px rgb(0, 0, 0);

    background: 0;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

.task-list {
    grid-row: 5 / 11;
    grid-column: 2 / 12;
}

.task-list ul {
    padding-left: 0;
    margin-top: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.task {
    margin: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: .5rem;
    padding: .1rem 1rem;
    position: relative;
    opacity: 0.9;
}

.task:hover .task-action-container {
    opacity: initial;
    transition: opacity 0.3s;
}

.finished-task {
    opacity: 0.2;
    transition: opacity 0.5s ;
    transform: rotate(2deg);
    transition: transform 0.5s ;


}

.task p{
    color: white;
    font-size: 1.3rem;
}

.task-action-container {
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: 0;
    display: flex;
    opacity: 0;
}

.task-action-container button {
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    margin: 0 1px;
    cursor: pointer;
}

.remove {
    background-color: hsl(0, 55%, 46%);
    opacity: 0.7;
}

.done {
    background-color: hsla(103, 55%, 46%, 0.7);
}