.App {
  background: center no-repeat url('../public/img/background-1.jpg');
  background-size: cover; 
  height: 100vh;
}

.slide-btn {
  opacity: 0.5;
  color: black;
  cursor: pointer;
}
.slide-btn:hover {
  opacity: 1;
  filter: drop-shadow(0 0 3px white)

}

.slide-btn-container-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.slide-btn-container-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}