.weather-widget {
  position: absolute;
  right: 15px;
  color: white;
  text-shadow: 0 0 3px rgb(0, 0, 0);
  font-size: 2rem;
  max-width: 200px;
}

.temp{
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.weather-widget img {
  height: 100%;
  margin: auto 0;
  max-width: 35px;
  max-height: 35px;
}

.weather-widget p {
  margin: auto 0;
}

.temp-description {
  font-size: 1rem;
  text-align: center;
  /* margin-top: 10px; */
  line-height: 80%;
}

.weather-widget button {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.weather-widget button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.weather-widget button:active {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

@media only screen and (max-width: 600px) {

  .weather-widget button {
    font-size: 0.7rem;
    border: 1px solid white;
  }

  .weather-widget {
    right: 5px;
    font-size: 1rem;
  }

  .temp-description {
    font-size: 0.75rem;
  }
}
